<div id="referer">
  <Navbar></Navbar>
  <Refer
    v-bind:user_name="'<%= @declared_user %>'"
    v-bind:content="'<%= @declare.declare %>'"
    v-bind:done_flg="'<%= @declare.done %>'"
    v-bind:cheered="'<%= @declare.cheered %>'"
    >
  </Refer>
</div>

<%= javascript_pack_tag 'refer' %>
